@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #F5F5F5;
}
header{
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #626262;
}
.main-page{
    width: 100vw;
    height: 100vh;
}

.txt-inicial{
    background: #D9D9D9;
    position: absolute;
    width: 680px;
    height: 114px;
    left: 125px;
    top: 164px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    text-align: center;

}

#moto{
    position: absolute;
    width: 151px;
    height: 143px;
    left: 45px;
    top: -20px;

}
#modal-moto-txt{
    position: absolute;
    width: 265px;
    height: 77px;
    left: -20px;
    top: 120px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #000000;

}
.modal-moto{
    position: absolute;
    width: 223px;
    height: 207px;
    left: 122px;
    top: 351px;
    background: #E3814A;
    border-radius: 20px;
    cursor: pointer;
}

.modal-moto:hover{
    background: rgb(179, 169, 24);
}


#carro{
    position: absolute;
    width: 150px;
    height: 133px;
    left: 40px;
    top: -18px;

}

#modal-carro-txt{
    position: absolute;
    width: 265px;
    height: 77px;
    left: -20px;
    top: 120px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #000000;

}
.modal-carro{
    position: absolute;
    width: 223px;
    height: 207px;
    left: 365px;
    top: 351px;
    background: #E3944A;
    border-radius: 20px;
}

#van{
    position: absolute;
    width: 140px;
    height: 90px;
    left: 40px;
    top: 4px;
}

.modal-van{
    position: absolute;
    width: 223px;
    height: 207px;
    left: 608px;
    top: 351px;
    background: #E3B84A;
    border-radius: 20px;
    }

#modal-van-txt{
    position: absolute;
    width: 265px;
    height: 77px;
    left: -20px;
    top: 120px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #000000;

}

.inferior{
    position: absolute;
    width: 710px;
    height: 62px;
    left: 122px;
    top: 620px;

    background: #D9D9D9;
    border-radius: 10px;
}
img{
    position: absolute;
width: 398px;
height: 560px;
left: 879px;
top: 133px;
border-radius: 20px;
}