@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root{
    --color-fundo: #FEF1F1;
    --color-pink: #E70663;
    --color-gray: #71777F;
    --color-blue: #163963; 
}

body{
    margin: 0 auto;
    padding: 0;
}

/*início cabeçalho*/
header{
    width: 100%;
    height: 50px;
    
}

ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 36px;
    gap: 10px;
    justify-content: end;
    margin-right: 10px;
}

li{
    list-style-type: none; 
    margin-top: 8px; 

}

li > a{
    border-radius: 8px;
    color: black;
    font-family: 'Inter';
    text-decoration: none;
    text-transform: uppercase;
}

ul > button{
    background: var(--color-gray);
    width: 12%;
    padding: 10px;
    text-decoration: none;
    border: none;
    font-family: 'Inter';
    text-transform: uppercase;
    border-radius: 8px;
    color: white;
}


/*início da primeira sessão*/

.container__first{
    width: 100%;
    height: 100%;
}

.wrapp__first{
    display: flex;
    width: 100%;
    height: 100%;
}

.left-side-wrap__first{ 
    display: flex;
    width: 50%;
    height: 100%;
    margin-top: 40px;
}

.box-introduction-page__first{
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
}

.pre-title__first{
    background-color: var(--color-pink);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 10px;
}
.introduction-header__first{
    line-height: 20px;
    margin-left: 40px;
}

.paragraph-below-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.color-title-principal{
    color: var(--color-pink);
}


.button-left-side__first{
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--color-gray);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.button-left-side__first a{
    color: white;
    text-decoration: none;
    font-family: 'Inter';
}
.right-side-wrap__first{
    width: 50%;
    height: 100%;
}
.figure-section-1 img{
    width: 624px;
    height: 518x;
}


.second-section{
    width: 100vw;
    height: 100vh;
}
.container__second{
    display: flex;
    gap: 5px;
    gap: 5px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
    }


.wrapp__second{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapp__second h1{
   font-size: 40px;
   font-family: 'Inter';
}

.wrapp__second span{
    color: var(--color-pink);
}


.container__second{
    justify-content: space-evenly
}
.advantage-cads{
    width: 20vw;
    height: 20vh;
    margin-top: 40px;
}

.advantage-cards__icons{
    display: flex;
    justify-content: space-around
}

.advantage-cads h3{
    color: var(--color-pink);
    text-align: center;
    font-size: 20px;
    font-family: 'Inter';
}

.advantage-cads p{
    font-family: 'Inter';
    text-align: center;
    font-size: 18px;
}

.container__third{
    width: 100vw;
    height: 100vh;
}

.container__third{
    display: flex;
    width: 50vw;
    height: 100vh;
}


.title-principal__third{
    width: 50vw;
}


.wrapper-chat-illustration{
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 100vh;
}

.square{
    display: flex;
    flex-direction: row;

}
.square-1{
    width: 430px;
    height: 400px;
    background: #E70663;
}
.square-2{
    width: 430px;
    height: 400px;
    margin-left: 60px;
    margin-top: 30px;
    background: blue;
}
