@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');


*{
    margin: 0 auto;
    padding: 0;}

body{
    background: #F5F5F5;}

/*início cabeçalho*/
header{
    width: 100vw;
    height: 30px;
    padding: 10px;}

.menu{
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #011C5A;
  font-size: 20px;
  font-family: 'Jura';
  padding: 5px;}

.menu a:hover{
    color: white;
    border-bottom: 4px solid rgba(187, 8, 8);
}

li{
    display: inline-block;
    list-style: none;}

a{
    padding: 20px;
    border-radius: 1px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px black;
    margin-left: 10px;}

a:hover{
    color: #F24116;
}
/*final cabeçalho*/


/*página inicial*/
.main-first-page{
    width: 100vw;
    height: 100vh;
    padding: 30px;}

.txt-welcome{
    background: linear-gradient(to left, #F24116, #BD392C, #F19D52);
    position: absolute;
    width: 680px;
    height: 114px;
    left: 125px;
    top: 164px;
    padding: 10px;
    border-radius: 20px 3px 20px 3px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 3px black;}

#icon-moto{
    position: absolute;
    width: 151px;
    height: 143px;
    left: 45px;
    top: -20px;
}
.card-moto p{
    position: absolute;
    width: 265px;
    height: 77px;
    left: -20px;
    top: 120px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px black;}

.card-moto{
    position: absolute;
    width: 223px;
    height: 207px;
    left: 122px;
    top: 351px;
    background: #F24116;
    border-radius: 20px 2px 20px 2px;
    cursor: pointer;}


#icon-carro{
    position: absolute;
    width: 150px;
    height: 133px;
    left: 40px;
    top: -18px;}

.card-carro p{
    position: absolute;
    width: 265px;
    height: 77px;
    left: -20px;
    top: 120px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px black;}

.card-carro{
    position: absolute;
    width: 223px;
    height: 207px;
    left: 365px;
    top: 351px;
    background: #BD392C;
    border-radius: 3px 20px 3px 20px;}

#icon-van{
    position: absolute;
    width: 140px;
    height: 90px;
    left: 40px;
    top: 4px;}

.card-van{
    position: absolute;
    width: 223px;
    height: 207px;
    left: 608px;
    top: 351px;
    background: #F19D52;
    border-radius: 20px 3px 20px 3px;}

.card-van p{
    position: absolute;
    width: 265px;
    height: 77px;
    left: -20px;
    top: 120px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px black;}

.card-inferior-horizontal{
    position: absolute;
    width: 710px;
    height: 62px;
    left: 122px;
    top: 620px;
    background: #D9D9D9;
    border-radius: 10px;}

.card-inferior-horizontal p{
    font-family: 'Jura';
    color: #E3814A;
    font-size: 20px;
    margin: 10px 0 10px 40px;}

span{
    color: #011C5A;}

img{
    position: absolute;
    width: 374px;
    height: 520px;
    left: 879px;
    top: 165px;
    border-radius: 20px 0 20px 0;}

.box-explicacao{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;}

.box-explicacao h1{
    font-family: 'Jura';
    font-size: 40px;
    margin-left: -100px;}

.box-explicacao p{
    font-family: 'Jura';
    color: #E3814A;
    font-size: 20px;
    margin-top: 40px;
    margin-left: -120px;
    line-height: 40px;}

#img-entregador-box-1 img{
    position: relative;
    top: -450px;
    left: 900px;
    z-index: 6;}

.module p{
    margin-bottom: 40px;}

.module:last-child{
    margin-bottom: 0;}

.module h1{
    margin-bottom: 40px;
    font-size: 30px;}

.module.content{
    height: 60vh;
    padding: 40px 0;
    background-color: #ece7d5;}

.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh !important; /*determina que o conteudo fique na tela inteira forçadamente*/
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;}

.module.parallax:after{
    content: "";
    height: 150%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to top, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 40%, #000 100%)}

.module.parallax:before{
    content: "";
    height: 150%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 40%, #000 100%)}

.module.parallax h1{
    color: rgb(238, 233, 230);
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    z-index: 50;
    text-shadow: 3px 5px black;}

.module.parallax-1{
    background-image: url(https://images.pexels.com/photos/4391470/pexels-photo-4391470.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);}

.module.parallax-2{
    background-image: url(https://images.pexels.com/photos/6868623/pexels-photo-6868623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);}


.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px black;
    border-style: none;
    cursor: pointer;
    padding: 10px;
    
}

.main-quadrado{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(20, 8vw);
    grid-gap: 1.5rem;}

.quadrado{
    border-radius: 10px;
    text-align: center;
    margin-left: -60px;}

.main-quadrado h1{
    color: #024D8E;
    position: relative;
    top: 20px;
    left: 120px;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 1px 2px black;
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;}

.quadrado:hover{
    background-color: red;
    transition: 0.6s;}

.quadrado p{
    color: white;
    font-family: 'BenchNine', sans-serif;
    font-size: 60px;
    line-height: 1.8rem;
    padding: 10px;
    text-shadow: 1px 1px black;}

.quadrado-1 {
    overflow-y: auto;
    background-color: #F19D52;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;}

  
  .quadrado-2 {
    overflow-y: auto;
    background-color: #BD392C;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;}
  
  .quadrado-3 {
    overflow-y: auto;
    background-color: #F24116;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;}
  


